/node_modules

/.idea/spp.iml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/jsLibraryMappings.xml

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea/.gitignore
/server/node_modules/
/server/dist/
/.idea/inspectionProfiles/Project_Default.xml

#file with dependencies installed from package.json
/frontend/package-lock.json
/server/package-lock.json
/package-lock.json